<!-- navbar header -->
<div class="navbar-header {{app.settings.navbarHeaderColor}}">
    <button class="pull-right visible-xs dk" ui-toggle-class="show" data-target=".navbar-collapse">
        <i class="glyphicon glyphicon-align-justify"></i>
    </button>
    <!-- brand -->
    <a ui-sref="app.home" class="navbar-brand text-lt">
        <i class="fa fa-btc"></i>
        <img src="img/logo.png" alt="." class="hide">
        <span class="hidden-folded m-l-xs">{{app.name}}</span>
    </a>
    <!-- / brand -->
</div>
<!-- / navbar header -->

<!-- navbar collapse -->
<div class="collapse pos-rlt navbar-collapse box-shadow {{app.settings.navbarCollapseColor}}">


    <!-- link and dropdown -->
    <ul class="nav navbar-nav hidden-sm">
        <li ui-sref-active="active">
            <a ui-sref="app.home">
                <span>Home</span>
            </a>
        </li>
        <li ui-sref-active="active" class="dropdown" dropdown>
            <a href class="dropdown-toggle" dropdown-toggle>
              Monitoring <b class="caret"></b>
            </a>
            <!-- dropdown -->
            <ul class="dropdown-menu animated fadeInRight w">
                <li>
                    <a ui-sref="app.dashboard">Dasboard</a>
                </li>
                <li>
                    <a ui-sref="app.map">Peta</a>
                </li>
            </ul>
            <!-- / dropdown -->
        </li>
        <li ui-sref-active="active" class="dropdown" dropdown>
            <a href class="dropdown-toggle" dropdown-toggle>
              Laporan <b class="caret"></b>
            </a>
            <!-- dropdown -->
            <ul class="dropdown-menu animated fadeInRight w">
                <li>
                    <a ui-sref="app.reportday">Harian</a>
                </li>
                <li>
                    <a ui-sref="app.reportmonth">Bulanan</a>
                </li>
                <li>
                    <a ui-sref="app.reportemp">Pegawai</a>
                </li>
                <li>
                    <a ui-sref="app.atts">Kehadiran</a>
                </li>
            </ul>
            <!-- / dropdown -->
        </li>

        <li ui-sref-active="active" class="dropdown" dropdown>
            <a href class="dropdown-toggle" dropdown-toggle>
              Pegawai <b class="caret"></b>
            </a>
            <!-- dropdown -->
            <ul class="dropdown-menu animated fadeInRight w">
                <li>
                    <a ui-sref="app.emps">Daftar Pegawai</a>
                </li>
                <li>
                    <a ui-sref="app.exception">Ijin</a>
                </li>

            </ul>
            <!-- / dropdown -->
        </li>
        
        <li ui-sref-active="active" class="dropdown" dropdown>
            <a href class="dropdown-toggle" dropdown-toggle>
              Jadwal <b class="caret"></b>
            </a>
            <!-- dropdown -->
            <ul class="dropdown-menu animated fadeInRight w">
                <li>
                    <a ui-sref="app.sches">Jadwal Kerja</a>
                </li>
                <li>
                    <a ui-sref="app.dayoff">Jadwal Libur</a>
                </li>
            </ul>
            <!-- / dropdown -->
        </li>


        <li ui-sref-active="active" class="dropdown" dropdown>
            <a href class="dropdown-toggle" dropdown-toggle>
              Unit <b class="caret"></b>
            </a>
            <!-- dropdown -->
            <ul class="dropdown-menu animated fadeInRight w">
                <li>
                    <a ui-sref="app.depts">List Departemen</a>
                </li>
                <li>
                    <a ui-sref="app.comps">List Unit</a>
                </li>
            </ul>
            <!-- / dropdown -->
        </li>

        <li ui-sref-active="active" class="dropdown" dropdown>
            <a href class="dropdown-toggle" dropdown-toggle>
              Mesin <b class="caret"></b>
            </a>
            <!-- dropdown -->
            <ul class="dropdown-menu animated fadeInRight w">
                <li>
                    <a ui-sref="app.devs">List Mesin</a>
                </li>
                <li>
                    <a ui-sref="app.cmds">Status Command Mesin</a>
                </li>
                <li>
                    <a ui-sref="app.fingersin">Data Sidik Masuk</a>
                </li>
                <li>
                    <a ui-sref="app.empsin">Data Pegawai Masuk</a>
                </li>

            </ul>
            <!-- / dropdown -->
        </li>

    </ul>
    <!-- / link and dropdown -->



    <!-- nabar right -->
    <ul class="nav navbar-nav navbar-right">
        <li class="dropdown hidden-sm" is-open="lang.isopen" dropdown>
            <a href class="dropdown-toggle" dropdown-toggle>
              {{selectLang}} <b class="caret"></b>
            </a>
            <!-- dropdown -->
            <ul class="dropdown-menu animated fadeInRight w">
                <li ng-repeat="(langKey, label) in langs">
                    <a ng-click="setLang(langKey, $event)" href>{{label}}</a>
                </li>
            </ul>
            <!-- / dropdown -->
        </li>

        <li class="dropdown" dropdown>
            <a href class="dropdown-toggle clear" dropdown-toggle>
                <span class="thumb-sm avatar pull-right m-t-n-sm m-b-n-sm m-l-sm">
                <img src="img/a0.jpg" alt="...">
                <i class="on md b-white bottom"></i>
              </span>
                <span class="hidden-sm hidden-md">{{User.Name}}</span> <b class="caret"></b>
            </a>
            <!-- dropdown -->
            <ul class="dropdown-menu animated fadeInRight w">
                <li>
                    <a ui-sref="app.users">
                        <span>Settings</span>
                    </a>
                </li>
                <li>
                    <a ui-sref="app.masterex">
                        <span>Master Ijin</span>
                    </a>
                </li>
                <li>
                    <a>
                        <span class="label bg-info pull-right">new</span> Documentation
                    </a>
                </li>
                <li class="divider"></li>
                <li>
                    <a ui-sref="access.login">Logout</a>
                </li>
            </ul>
            <!-- / dropdown -->
        </li>
    </ul>
    <!-- / navbar right -->

</div>
<!-- / navbar collapse -->
