<div class="container w-xxl w-auto-xs">
    <a href class="navbar-brand block m-t">First Setting</a>
    <div class="m-b-lg">
        <div class="wrapper text-center">
            <strong>Silahkan Masukan Salah Satu Departemen yang ada di Perusahaan anda</strong>
        </div>
        <div>
            <!-- <div class="text-danger wrapper text-center">
                error munculkan sini
            </div> -->
            <div class="list-group list-group-sm">
                <div class="list-group-item">
                    <input type="text" class="form-control no-border" placeholder="Nama Departemen" ng-model="userReg.Depart.Name">
                </div>

            </div>
            <div class="m-t">
                <div ng-show="userReg.Err" class="alert alert-danger">
                    {{userReg.Err}}
                </div>
            </div>
            <div class="m-b-sm">
                <div class="btn-group btn-group-justified">
                    <a href="" class="btn btn-primary" ui-sref="first.schedule">Back</a>
                    <a href="" class="btn btn-info" ng-click="nextDepart()">Next</a>
                </div>
            </div>



        </div>
    </div>
    <div class="text-center" ng-include="'views/blocks/page_footer.html'"></div>
</div>
