<div class="container w-auto-xs" style="width:990px;">
    <a href class="navbar-brand block m-t">First Setting</a>
    <div class="m-b-lg">
        <div class="wrapper text-center">
            <strong>Silahkan Atur Jadwal yaitu Jam Masuk dan Jam Pulang</strong>
        </div>
        <div>
            <!-- <div class="text-danger wrapper text-center">
                error munculkan sini
            </div> -->
            <div class="row wrapper">
                <div class="col-sm-3">
                    <div class="input-group">
                        <span class="input-group-btn">
                    <button class="btn btn-sm btn-default" type="button" disabled>Nama Jadwal</button>
                </span>
                        <input type="text" class="input-sm form-control" ng-model="userReg.Sche.Name">

                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="input-group">
                        <span class="input-group-btn">
                    <button class="btn btn-sm btn-default" type="button" disabled>Keterangan</button>
                </span>
                        <input type="text" class="input-sm form-control" ng-model="userReg.Sche.Note">

                    </div>
                </div>

            </div>
            <div class="table-responsive">
                <table class="table table-striped b-t b-light">
                    <thead>
                        <tr>
                            <th>Ket</th>
                            <th>Senin</th>
                            <th>Selasa</th>
                            <th>Rabu</th>
                            <th>Kamis</th>
                            <th>Jumat</th>
                            <th>Sabtu</th>
                            <th>Minggu</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>active</td>
                            <td>
                                <input type="checkbox" ng-model="userReg.Sche[1].Active">
                            </td>
                            <td>
                                <input type="checkbox" ng-model="userReg.Sche[2].Active">
                            </td>
                            <td>
                                <input type="checkbox" ng-model="userReg.Sche[3].Active">
                            </td>
                            <td>
                                <input type="checkbox" ng-model="userReg.Sche[4].Active">
                            </td>
                            <td>
                                <input type="checkbox" ng-model="userReg.Sche[5].Active">
                            </td>
                            <td>
                                <input type="checkbox" ng-model="userReg.Sche[6].Active">
                            </td>
                            <td>
                                <input type="checkbox" ng-model="userReg.Sche[7].Active">
                            </td>

                        </tr>
                        <tr>
                            <td>open</td>
                            <td>
                                <input style="width:60px;" type="number" ng-model="userReg.Sche[1].Open">
                            </td>
                            <td>
                                <input style="width:60px;" type="number" ng-model="userReg.Sche[2].Open">
                            </td>
                            <td>
                                <input style="width:60px;" type="number" ng-model="userReg.Sche[3].Open">
                            </td>
                            <td>
                                <input style="width:60px;" type="number" ng-model="userReg.Sche[4].Open">
                            </td>
                            <td>
                                <input style="width:60px;" type="number" ng-model="userReg.Sche[5].Open">
                            </td>
                            <td>
                                <input style="width:60px;" type="number" ng-model="userReg.Sche[6].Open">
                            </td>
                            <td>
                                <input style="width:60px;" type="number" ng-model="userReg.Sche[7].Open">
                            </td>

                        </tr>
                        <tr>
                            <td>startWork</td>
                            <td>
                                <input style="width:60px;" type="text" ng-model="userReg.Sche[1].StartWork">
                            </td>
                            <td>
                                <input style="width:60px;" type="text" ng-model="userReg.Sche[2].StartWork">
                            </td>
                            <td>
                                <input style="width:60px;" type="text" ng-model="userReg.Sche[3].StartWork">
                            </td>
                            <td>
                                <input style="width:60px;" type="text" ng-model="userReg.Sche[4].StartWork">
                            </td>
                            <td>
                                <input style="width:60px;" type="text" ng-model="userReg.Sche[5].StartWork">
                            </td>
                            <td>
                                <input style="width:60px;" type="text" ng-model="userReg.Sche[6].StartWork">
                            </td>
                            <td>
                                <input style="width:60px;" type="text" ng-model="userReg.Sche[7].StartWork">
                            </td>

                        </tr>
                        <tr>
                            <td>endWork</td>
                            <td>
                                <input style="width:60px;" type="text" ng-model="userReg.Sche[1].EndWork">
                            </td>
                            <td>
                                <input style="width:60px;" type="text" ng-model="userReg.Sche[2].EndWork">
                            </td>
                            <td>
                                <input style="width:60px;" type="text" ng-model="userReg.Sche[3].EndWork">
                            </td>
                            <td>
                                <input style="width:60px;" type="text" ng-model="userReg.Sche[4].EndWork">
                            </td>
                            <td>
                                <input style="width:60px;" type="text" ng-model="userReg.Sche[5].EndWork">
                            </td>
                            <td>
                                <input style="width:60px;" type="text" ng-model="userReg.Sche[6].EndWork">
                            </td>
                            <td>
                                <input style="width:60px;" type="text" ng-model="userReg.Sche[7].EndWork">
                            </td>

                        </tr>
                        <tr>
                            <td>IsOverTime</td>
                            <td>
                                <input type="checkbox" ng-model="userReg.Sche[1].IsOverTime">
                            </td>
                            <td>
                                <input type="checkbox" ng-model="userReg.Sche[2].IsOverTime">
                            </td>
                            <td>
                                <input type="checkbox" ng-model="userReg.Sche[3].IsOverTime">
                            </td>
                            <td>
                                <input type="checkbox" ng-model="userReg.Sche[4].IsOverTime">
                            </td>
                            <td>
                                <input type="checkbox" ng-model="userReg.Sche[5].IsOverTime">
                            </td>
                            <td>
                                <input type="checkbox" ng-model="userReg.Sche[6].IsOverTime">
                            </td>
                            <td>
                                <input type="checkbox" ng-model="userReg.Sche[7].IsOverTime">
                            </td>

                        </tr>
                        <tr>
                            <td>overTime</td>
                            <td>
                                <input style="width:60px;" type="text" ng-model="userReg.Sche[1].OverTime">
                            </td>
                            <td>
                                <input style="width:60px;" type="text" ng-model="userReg.Sche[2].OverTime">
                            </td>
                            <td>
                                <input style="width:60px;" type="text" ng-model="userReg.Sche[3].OverTime">
                            </td>
                            <td>
                                <input style="width:60px;" type="text" ng-model="userReg.Sche[4].OverTime">
                            </td>
                            <td>
                                <input style="width:60px;" type="text" ng-model="userReg.Sche[5].OverTime">
                            </td>
                            <td>
                                <input style="width:60px;" type="text" ng-model="userReg.Sche[6].OverTime">
                            </td>
                            <td>
                                <input style="width:60px;" type="text" ng-model="userReg.Sche[7].OverTime">
                            </td>

                        </tr>
                        <tr>
                            <td>endOverTime</td>
                            <td>
                                <input style="width:60px;" type="text" ng-model="userReg.Sche[1].EndOverTime">
                            </td>
                            <td>
                                <input style="width:60px;" type="text" ng-model="userReg.Sche[2].EndOverTime">
                            </td>
                            <td>
                                <input style="width:60px;" type="text" ng-model="userReg.Sche[3].EndOverTime">
                            </td>
                            <td>
                                <input style="width:60px;" type="text" ng-model="userReg.Sche[4].EndOverTime">
                            </td>
                            <td>
                                <input style="width:60px;" type="text" ng-model="userReg.Sche[5].EndOverTime">
                            </td>
                            <td>
                                <input style="width:60px;" type="text" ng-model="userReg.Sche[6].EndOverTime">
                            </td>
                            <td>
                                <input style="width:60px;" type="text" ng-model="userReg.Sche[7].EndOverTime">
                            </td>
                        </tr>
                        <tr>
                            <td>Close</td>
                            <td>
                                <input style="width:60px;" type="number" ng-model="userReg.Sche[1].Close">
                            </td>
                            <td>
                                <input style="width:60px;" type="number" ng-model="userReg.Sche[2].Close">
                            </td>
                            <td>
                                <input style="width:60px;" type="number" ng-model="userReg.Sche[3].Close">
                            </td>
                            <td>
                                <input style="width:60px;" type="number" ng-model="userReg.Sche[4].Close">
                            </td>
                            <td>
                                <input style="width:60px;" type="number" ng-model="userReg.Sche[5].Close">
                            </td>
                            <td>
                                <input style="width:60px;" type="number" ng-model="userReg.Sche[6].Close">
                            </td>
                            <td>
                                <input style="width:60px;" type="number" ng-model="userReg.Sche[7].Close">
                            </td>

                        </tr>


                    </tbody>
                </table>
            </div>
             <div class="m-t">
                <div ng-show="userReg.Err" class="alert alert-danger">
                    {{userReg.Err}}
                </div>
            </div>
            <div class="m-b-sm">
                <div class="btn-group btn-group-justified">
                    <a class="btn btn-primary" ui-sref="first.device">Back</a>
                    <a class="btn btn-info" ng-click="nextSchedule()">Next</a>
                </div>
            </div>



        </div>
    </div>
    <div class="text-center" ng-include="'views/blocks/page_footer.html'"></div>
</div>
