<div class="container w-xxl w-auto-xs">
    <a href class="navbar-brand block m-t">{{app.name}}</a>
    <div class="m-b-lg">
        <div class="wrapper text-center">
            <strong>Silahkan mengisi data anda.</strong>
        </div>
        <form class="form-validation" name="FormUser" ng-submit="nextUser()">

            <div class="list-group list-group-sm">
                <div class="list-group-item">
                    <input type="email" placeholder="Email" class="form-control no-border" ng-model="userReg.User.Email" disabled>
                </div>
                <div class="list-group-item">
                    <input type="text" placeholder="Nama Perusahaan/Organisasi/Institusi" class="form-control no-border" ng-model="userReg.User.CompanyName" name="CompanyName" autofocus="autofocus">
                </div>
                <div cla <div class="list-group-item">
                    <input type="name" placeholder="Nama Lengkap Anda" class="form-control no-border" ng-model="userReg.User.Name" autofocus="autofocus">
                </div>
                <div cla <div class="list-group-item">
                    <input type="number" placeholder="Nomer HP Anda" class="form-control no-border" ng-model="userReg.User.Mobile" autofocus="autofocus">
                </div>
            </div>
            <div class="m-t">
                <div ng-show="userReg.Err" class="alert alert-danger">
                    {{userReg.Err}}
                </div>
            </div>
           <button type="submit" class="btn btn-info btn-lg btn-block">Next</button>
            
        </form>
    </div>
    <div class="text-center" ng-include="'views/blocks/page_footer.html'"></div>
</div>
